<div class="chat">
  <% @messages.each do |message| %>
    <div class="message <%= message.to.id == current_user.id ? "message-left" : "message-right" %>">
        <% if message.to.id != current_user.id %>
          <div>
            <div class="message-body">
              <% message.body.split(/\r?\n/).each do |paragraph| %>
                <%= render 'layouts/chat_content', :content => paragraph %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="user-profile">
          <div class="avatar">
            <img src="<%= get_gavater_img(message.from.email, 50) %>"/>
          </div>
          <div class="name">
            <a href="/users/<%= message.from.id %>" target="_self"><%= message.from.name %></a>
          </div>
        </div>
        <% if message.to.id == current_user.id %>
          <div>
            <div class="message-body">
              <% message.body.split(/\r?\n/).each do |paragraph| %>
                <%= render 'layouts/chat_content', :content => paragraph %>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
<%= form_for :message, url: '/messages', html: {class: ['kata-form']} do |f| %>
<fieldset>
  <%= render 'layouts/error_messages' %>

  <%= f.hidden_field :to_id, :value => @chat_with_user.id %>

  <%= f.text_area :body, class: ['full-width', 'post-text'] %>

  <%= f.submit "Send Message", class: ['kata-button', 'primary-button'] %>
</fieldset>
<% end %>
