<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment-summary">
      <div class="comment-summary-body">
        <%= comment.body %>
      </div>
      <div class="comment-summary-detail">
        <a href="/users/<%=comment.user.id %>"><%= comment.user.name %></a> posted at <%= comment.created_at %>
      </div>
    </div>
  <% end %>
  <div class="paginator">

    <ul>
    <% for i in 1..@pages_total %>
      <% if i == @query_page %>
      <li class="selected">
      <% else %>
      <li>
      <% end %>
        <span><a href="/comments?page=<%= i %>"><%= i %></a></span>
      </li>
    <% end %>
    </ul>
  </div>
</div>
