<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment-summary">
      <div class="comment-summary-body">
        <a href="/posts/<%= comment.post.id %>#comment-<%= comment.id %>">
        <% if comment.body.length > 50 %>
          <%= comment.body[0..50] + "..." %>
        <% else %>
          <%= comment.body %>
        <% end %>
        </a>
      </div>
      <div class="comment-summary-detail">
        <a href="/users/<%= comment.user.id %>"><%= comment.user.name %></a> posted at <%= comment.created_at %>, on <a href="/posts/<%= comment.post.id %>"><%= comment.post.title %></a>
      </div>
    </div>
  <% end %>
  <div class="paginator">

    <ul>
    <% for i in 1..@pages_total %>
      <% if i == @query_page %>
      <li class="selected">
      <% else %>
      <li>
      <% end %>
        <span><a href="/comments?page=<%= i %>"><%= i %></a></span>
      </li>
    <% end %>
    </ul>
  </div>
</div>
