<div class="posts">
  <div>
    <% if @posts.results.total == 0 %>
      0 result match <em><%= @words_search %></em>
    <% else %>
      <%= pluralize(@posts.results.total, "result") %> match <em><%= @words_search %></em>
    <% end %>
  </div>
  <% for i in 0...@search_records.length do %>
    <div class="post-summary">
      <div class="post-summary-title">
        <a href="/posts/<%= @search_records[i].id %>" target="_self">
          <% if @search_results[i].highlight.title.nil? %>
            <%= @search_records[i].title %>
          <% else %>
            <%= sanitize @search_results[i].highlight.title.join("..."), tags: ["em"] %>
          <% end %>
        </a>
      </div>
      <div class="post-summary-author">
        <a href="/users/<%= @search_records[i].user.id %>" target="_self"><%= @search_records[i].user.name %></a> posted at <%= @search_records[i].created_at %>, on <a href="/?node_id=<%= @search_records[i].node.id %>" target="_self"><%= @search_records[i].node.name %></a>
      </div>
      <div class="post-summary-body">
        <% if @search_results[i].highlight.body.nil? %>
          <%= @search_records[i].body %>
        <% else %>
          <%= sanitize @search_results[i].highlight.body.join("..."), tags: ["em"] %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="paginator">
    <ul>
    <% for i in 1..@pages_total %>
      <% if i == @current_page %>
      <li class="selected">
      <% else %>
      <li>
      <% end %>
        <span><a href="/search?query=<%= @words_search %>&page=<%= i %>" target="_self"><%= i %></a></span>
      </li>
    <% end %>
    </ul>
  </div>
</div>
