<%= form_for :setting, html: {class: ['kata-form']} do |f| %>
<fieldset>
  <legend>Password</legend>

  <%= render 'layouts/error_messages' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'medium-width' %>

  <%= f.label :new_password %>
  <%= f.password_field :new_password, class: 'medium-width' %>

  <%= f.label :new_password_confirmation %>
  <%= f.password_field :new_password_confirmation, class: 'medium-width' %>

  <%= f.submit "Change Password", class: ['kata-button', 'primary-button'] %>

</fieldset>
<% end %>

<div class="avatar-setting">
  <legend>Avatar</legend>
  <div>
    <p>Current avatar:</p>
    <div class="avatar">
       <img src="<%= get_gavater_img(get_user.email, 70) %>"/>
    </div>
  </div>
  <a href="https://gravatar.com" target="_blank"><button class="kata-button primary-button less-margin">Change Gavatar</button></a>
</div>
