<div class="profile">
  <div class="profile-summary">
    <div class="avatar">
      <img src="<%= get_gavater_img(@user.email, 100) %>"/>
    </div>
    <div class="profile-list">
      <ul>
        <li><strong>Name</strong>: <%= @user.name %></li>
        <li><strong>Email</strong>: <%= @user.email %></li>
        <li>No. <%= @user.id %>, join at <%= @user.created_at %></li>
      </ul>
    </div>
  </div>
  <div class="posts">
    <h3><strong>posts</strong></h3>
    <% @user.posts.limit(5).each do |post| %>
      <div class="post-summary">
        <div class="post-summary-title">
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
        </div>
        <div class="post-summary-author">
          posted at <%= post.created_at %>, on <%= post.node.name %>
        </div>
      </div>
    <% end %>
    <div class="more-message">
      <a href="/?user_id=<%= @user.id %>">View all posts created by <%= @user.name %></a>
    </div>
  </div>
  <div class="comment">
    <h3><strong>comments</strong></h3>
    <% @user.comments.limit(5).each do |comment| %>
      <div class="single-comment">
        <div class="comment-body">
        <a href="/posts/<%= comment.post.id %>#comment-<%= comment.id %>">
          <% if comment.body.length > 50 %>
            <%= comment.body[0..50] + "..." %>
          <% else %>
            <%= comment.body %>
          <% end %>
        </a>
        </div>
        <div class="comment-detail">
          posted at <%= comment.created_at %>, on <a href="/posts/<%= comment.post.id %>"><%= comment.post.title %></a>
        </div>
      </div>
    <% end %>
    <div class="more-message">
      <a href="/comments?user_id=<%= @user.id %>">View all comments created by <%= @user.name %></a>
    </div>
  </div>
</div>
