<div class="profile">
  <div class="profile-summary">
    <img class="avater" src="<%= get_gavater_img(@user.email, 100) %>"/>
    <ul>
      <li><strong>Name</strong>: <%= @user.name %></li>
      <li><strong>Email</strong>: <%= @user.email %></li>
      <li>No. <%= @user.id %>, join at <%= @user.created_at %></li>
    </ul>
  </div>
</div>
