<div class="profile">
  <div class="profile-summary">
    <img class="avater" src="<%= get_gavater_img(@user.email, 100) %>"/>
    <ul>
      <li><strong>Name</strong>: <%= @user.name %></li>
      <li><strong>Email</strong>: <%= @user.email %></li>
      <li>No. <%= @user.id %>, join at <%= @user.created_at %></li>
    </ul>
  </div>
  <div class="posts">
    <h3><strong>posts</strong></h3>
    <% @user.posts.each do |post| %>
      <div class="post-summary">
        <div class="post-summary-title">
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
        </div>
        <div class="post-summary-author">
          posted at <%= post.created_at %>, on <%= post.node.name %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="comment">
    <h3><strong>comments</strong></h3>
    <% @user.comments.each do |comment| %>
      <div>
        <div>
          <%= comment.body %>
        </div>
        <div>
          posted at <%= comment.created_at %>, on <a href="/posts/<%= comment.post.id %>"><%= comment.post.title %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
