<div class="posts">
  <div class="nodes-summary">
    <ul>
    <% @nodes.each do |node| %>
      <% if node.id == @query_node %>
      <li class="selected">
      <% else %>
      <li>
      <% end %>
        <span><a href="/?node_id=<%= node.id %>"><%= node.name %></a></span>
      </li>
    <% end %>
    </ul>
  </div>

  <% @posts.each do |post| %>
    <div class="post-summary">
      <div class="post-summary-title">
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
      </div>
      <div class="post-summary-author">
        <a href="/users/<%=post.user.id %>"><%= post.user.name %></a> posted at <%= post.created_at %>, on <a href="/?node_id=<%= post.node.id %>"><%= post.node.name %></a>
      </div>
    </div>
  <% end %>
  <div class="paginator">
    <ul>
    <% for i in 1..@pages_total %>
      <% if i == @query_page %>
      <li class="selected">
      <% else %>
      <li>
      <% end %>
        <span><a href="/?page=<%= i %>"><%= i %></a></span>
      </li>
    <% end %>
    </ul>
  </div>
</div>
