<div class="posts">
  <% @posts.each do |post| %>
    <div class="post-summary">
      <div class="post-summary-title">
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
      </div>
      <div class="post-summary-author">
        <a href="/users/<%=post.user.id %>"><%= post.user.name %></a> posted at <%= post.created_at %>, on <%= post.node.name %>
      </div>
    </div>
  <% end %>
</div>
