<div class="posts">
  <% if @query_user.nil? && @query_node.nil? %>
    <div class="nodes-list">
      <ul>
      <% @nodes.each do |node| %>
        <li>
          <span><a href="/?node_id=<%= node.id %>" target="_self"><%= node.name %></a></span>
        </li>
      <% end %>
      </ul>
    </div>
  <% else %>
    <% if !@query_node.nil? %>
      <div class="node">
        <div class="node-name"><%= @query_node.name %></div>
        <div class="node-summary"><%= @query_node.summary %></div>
        <div class="node-action">
          <a href="/nodes/<%= @query_node.id %>/edit">Edit</a>
          <a href="#">Delete</a>
        </div>
      </div>
    <% end %>
  <% end %>
 

  <% @posts.each do |post| %>
    <div class="post-summary">
      <div class="post-summary-title">
        <a href="/posts/<%= post.id %>" target="_self"><%= post.title %></a>
      </div>
      <div class="post-summary-author">
        <a href="/users/<%=post.user.id %>" target="_self"><%= post.user.name %></a> posted at <%= post.created_at %>, on <a href="/?node_id=<%= post.node.id %>" target="_self"><%= post.node.name %></a>
      </div>
    </div>
  <% end %>
  <div class="paginator">
    <ul>
    <% for i in 1..@pages_total %>
      <% if i == @query_page %>
      <li class="selected">
      <% else %>
      <li>
      <% end %>
        <span><a href="/?page=<%= i %>" target="_self"><%= i %></a></span>
      </li>
    <% end %>
    </ul>
  </div>
</div>
