<%= form_for :article do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.label :node %><br>
    <%= f.select :node, ['Test node 1', 'Test node 2'] %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
