<%= form_for :post, html: {class: ['pure-form', 'pure-form-aligned']} do |f| %>
<fieldset>
  <legend>Create Post</legend>

  <div class="pure-control-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'pure-input-2-3' %>
  </div>

  <div class="pure-control-group">
    <%= f.label :text %>
    <%= f.text_area :text, class: ['pure-input-2-3', 'post-text'] %>
  </div>

  <div class="pure-control-group">
    <%= f.label :node %>
    <%= f.select :node, ['Test node 1', 'Test node 2'] %>
  </div>

  <div class="pure-controls">
    <%= f.submit "Create Post", class: ['pure-button', 'pure-button-primary'] %>
  </div>
</fieldset>
<% end %>
