<div class="post post-header">
  <div class="post-title">
    <%= @post.title %>
  </div>
  <div class="post-author">
    <%= @post.user.name %> posted at <%= @post.created_at %>, on <%= @post.node.name %>
  </div>
</div>
<div class="post post-body">
  <% @post.body.split(/\r?\n/).each do |paragraph| %>
    <%= paragraph %><br/>
  <% end %>
</div>

<div class="comment">

  <hr>

  <p>Comment placeholder</p>

  <hr>

  <%= render 'layouts/error_messages' %>

  <%= form_for @comment, html: {class: ['kata-form']} do |f| %>
    <%= f.text_area :body, class: ['full-width', 'comment-text'] %>
    
    <%= f.hidden_field :post, :value => @post.id %>

    <%= f.submit "Create Comment", class: ['kata-button', 'primary-button'] %>
  <% end %>
</div>
