<div class="post post-header">
  <div class="post-title">
    <%= @post.title %>
  </div>
  <div class="post-author">
    <a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a> posted at <%= @post.created_at %>, on <%= @post.node.name %>
  </div>
</div>
<div class="post post-body">
  <% @post.body.split(/\r?\n/).each do |paragraph| %>
    <%= paragraph %><br/>
  <% end %>
</div>

<div class="comment">

  <hr>

  <% @post.comments.each do |comment| %>
    <div class="single-comment">
      <div class="comment-body">
        <%= comment.body %>
      </div>
      <div class="comment-detail">
        <a href="/users/<%=comment.user.id %>"><%= comment.user.name %></a> posted at <%= comment.created_at %>
      </div>
    </div>
  <% end %>

  <hr>

  <%= render 'layouts/error_messages' %>

  <%= form_for @comment, html: {class: ['kata-form']} do |f| %>
    <%= f.text_area :body, class: ['full-width', 'comment-text'] %>
    
    <%= f.hidden_field :post, :value => @post.id %>

    <%= f.submit "Create Comment", class: ['kata-button', 'primary-button'] %>
  <% end %>
</div>
