<% for tag, b, e in parse_content(content) %>
  <% if tag == :link %>
    <a href="<%= content[b...e] %>"><%= content[b...e] %></a>
  <% elsif tag == :image %>
    <img src="<%= content[b...e] %>"/>
  <% elsif tag == :gist %>
    <script src="<%= content[b...e] %>.js"></script>
  <% else %>
    <%= content[b...e] %>
  <% end %>
<% end %>
<br/>
