<% if flash[:danger] %>
<div class="message error-message">
  <% if flash[:danger].is_a? Hash %>
   <div>The form contains <%= pluralize(flash[:danger].map { |k, v| v.length }.reduce(:+), "error") %></div>
    <ul>
    <% flash[:danger].each do |k, v| %>
      <% v.each do |msg| %>
      <li><%= "#{k.capitalize} #{msg}" %></li>
      <% end %>
    <% end %>
    </ul>
  <% else %>
    <div><%= flash[:danger] %></div>
  <% end %>
</div>
<% else %>
  <% if @user && @user.errors.any? %>
    <% @local_model_var = @user %>
  <% elsif @post && @post.errors.any? %>
    <% @local_model_var = @post %>
  <% elsif @node && @node.errors.any? %>
    <% @local_model_var = @node %>
  <% end %>
  <% if @local_model_var %>
    <div class="message error-message">
      <div>The form contains <%= pluralize(@local_model_var.errors.count, "error") %></div>
      <ul>
      <% @local_model_var.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
