<!DOCTYPE html>
<html>
<head>
  <title>Kata</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="header-content">
    <a class="logo" href="/">Kata</a>
    <input class="search" placeholder="Search" type="text" value=""/>
    <ul class="menu-list">
      <% if session[:user_id].nil? %>
        <li class="menu-item"><a class="menu-link" href="/login">Login</a></li>
        <li class="menu-item"><a class="menu-link" href="/signup">Sign Up</a></li>
      <% else %>
        <li class="menu-item"><a class="menu-link" href="/">Home</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Setting</a></li>
        <li class="menu-item"><a class="menu-link" href="/logout">Logout</a></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="content">
  <div class="left-and-right">
    <div class="left">
      <div class="block">
        <%= yield %>
      </div>
    </div>
    <div class="right">
      <div class="block">
        <% if session[:user_id].nil? %>
          <% for i in 1..20 %>
            我能吞下玻璃而不伤身体
          <% end %>
        <% else %>
          <div class="profile">
            <div class="profile-summary">
              <ul>
                <li><strong>Name</strong>: <%= get_user.name %></li>
                <li><strong>Email</strong>: <%= get_user.email %></li>
                <li>No. <%= get_user.id %>, join at <%= get_user.created_at %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
