<!DOCTYPE html>
<html>
<head>
  <title>Kata</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.MathJax = {
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    };
  </script>
  <script type="text/javascript"
   src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
</head>
<body>

<div class="header">
  <div class="header-content">
    <ul class="logo-and-search">
      <li class="logo-and-search-item"><a class="logo" href="/" target="_self">Kata</a></li>
      <li class="logo-and-search-item"><input class="search" placeholder="Search" type="text" value=""/></li>
    </ul>
    <ul class="menu-list">
      <% if session[:user_id].nil? %>
        <li class="menu-item"><a class="menu-link" href="/login" target="_self">Login</a></li>
        <li class="menu-item"><a class="menu-link" href="/signup" target="_self">Sign Up</a></li>
      <% else %>
        <li class="menu-item"><a class="menu-link" href="/" target="_self">Home</a></li>
        <li class="menu-item" id="messages-menu-item"><a class="menu-link" href="/messages" target="_self">Messages</a></li>
        <li class="menu-item"><a class="menu-link" href="/setting" target="_self">Setting</a></li>
        <% if current_user.user_type == 1 %>
          <li class="menu-item"><a class="menu-link" href="/manage" target="_self">Manage</a></li>
        <% end %>
        <li class="menu-item"><a class="menu-link" href="/logout" target="_self">Logout</a></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="content">
  <div class="left-and-right">
    <div class="left">
      <div class="block">
        <%= yield %>
      </div>
    </div>
    <div class="right">
      <div class="block">
        <% if session[:user_id].nil? %>
          <div class="kata-intro">
            <p>Kata is a simple BBS</p>
          </div>
          <div class="control-pad">
            <a href="/signup" target="_self"><button class="kata-button primary-button">Sign Up</button></a>
          </div>
        <% else %>
          <div class="profile">
            <div class="profile-summary">
              <div class="avatar">
                <img src="<%= get_gavater_img(get_user.email, 70) %>"/>
              </div>
              <div class="profile-list">
                <ul>
                  <li><strong>Name</strong>: <%= get_user.name %></li>
                  <li><strong>Email</strong>: <%= get_user.email %></li>
                  <li>No. <%= get_user.id %>, join at <%= get_user.created_at %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="control-pad">
            <a href="/posts/new" target="_self"><button class="kata-button primary-button less-margin">New Post</button></a>
          </div>
        <% end %>
      </div>
      <div class="block">
        <div class="posts">
          <h3>Hot Posts</h3>
          <% get_hot_posts.each do |post| %>
            <div class="post-summary">
              <div class="post-summary-title hot-post-summary-title">
                <a href="/posts/<%= post.id %>" target="_self"><%= post.title %></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
